#container{
    width: 80%;
    margin: 0 auto;
    background-color: #d4d9b8;
    }

#Header{
    width: 100%;
    height: 140px;
    padding-bottom: 5px;
    background-color: #152735;
    }

/*Impostazioni logo*/
#Logo{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    }
    
#Logo img{
    width: 140px;
    height: 120px;
    }

#Logo h1{display: none;}

/*Voci menu*/
#upMenu{
    float: right;
    margin-top: 80px;
    margin-right: 15px;
    }

#Menu{
    float: left;
    }

#Menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    }

#Menu ul li{
    position: relative;
    float: left;
    margin-top: 0;
    height: 60px;
    line-height: 60px;
    width: auto;
    padding: 0 5px;
    }

#Menu ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin: 0;
    text-align: center;
    color: #acb2b2;
    background-color: #152735;
    }

#Menu ul li a:hover{
    background-color: #d4d9b8;
    border:#a9b187 solid 3px ;
    color: black;
    margin-left: -6px;
    }

label{display: none;}



/*Banner*/
#Banner{
    float: left;
    width: 100%;
    height: 300px;
    background-color: #172d3d;
    }

#Banner div h1{
    color: #d4d9b8;
    font-size: 400%;
    margin-top: 80px;
    margin-left: 3%;
    }

#Banner div p{
    color: #d4d9b8;
    font-size: 180%;
    margin-left: 5%;
    }

/*Body*/
#Body{
    width: 100%;
    padding: 0;
    float: left;
    background-color: #101f2b;
    padding-top: 10px;
    }

/*Body img div*/
#SubDiv{
    width: 100%;
    padding: 0;
    margin-top: 40px;
    }

#SubDiv div{
    width: 30%;
    height: 600px;
    float: left;
    margin-top: 150px;
    padding-top: 20px;
    }

#SubDiv div div {
    width: 100%;
    margin: 0 auto;
    }

#SubDiv div div img{
    width: 100%;
    height: 250px;
    }

#SubDiv div div div{
    position: relative;
    width: 100%; 
    height: 40px;
    top: -64px;
    min-height: 10px;
    text-align: center;
    padding-top: 20px;
    background-color: black;
    opacity: 80%;
    transition: all .3s;
    }   

#SubDiv div div div:hover{
    opacity: 100%; 
    }

#SubDiv div div div a{
    color: #ccc;
    margin-bottom: 5px;
    text-decoration: none;
    }

/*Footer*/
#Footer{    
    width: 100%;
    float: left;
    margin-top: 20px;
    background-color: #d4d9b8;
    }

#Gunter{
    width: 20%;
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }   

#Gunter img{
    width: 40%;
    }

/*menu navigazione*/
.footers{
    float: right;
    margin-top: 40px;
    margin-right: 20px;
    }

.footers ul{
    padding-left: 10px;
    list-style-type: none;
    color: #101f2b;
    }

.footers ul li{
    float: left;
    text-decoration: none;
    padding: 0 14px 0 14px;
    background-color: #d4d9b8;
    }

.footers ul li a{
    margin-top: 0px;
    font-size: 20px;
    color: #101f2b;
    text-decoration: none;
    }
/*.footers ul li.list1{padding-top: 0; border: 0px;}*/

/*Paragrafo copyright*/

#fine{
    width: 100%;
    float: left;
    background-color: #d4d9b8;
    margin-top: 0;
    border-top: solid #101f2b 2px;
    text-align: center;
    }

#fine p{
    color: #172d3d;
    /*
    margin-top: 30px;
    margin-bottom: 30px;*/
    }

/*Middle*/
.middle{margin: 0 5%;}

/*Contatti*/
.inbody_cont{
    width: 50%;
    float: left;
    }

.inbody_cont a img{
    float: left;
    }

.inbody_cont h1{
    color: #a9b187;
    margin-top: 50px;
    }

.inbody_cont p{
    float: left;
    color: #d4d9b8;
    }


/*Posizione*/
.inbody_pos{
    width: 50%;
    float: left;
    }

.inbody_pos a img{
    float: left;
    }

.inbody_pos p{
    float: left;
    color: #d4d9b8;
    }

/*Responsive*/
@media screen and (max-width: 1200px){
    #container{width: 100%;}
    #Header{height: 400px;} 

    #Logo{
        float: none;
        width: 80%;
        /*text-align: center;*/
        }
    #Logo h1{
        display: block;
        float: right;
        font-size: 90px;
        margin-top: 160px;
        margin-right: 75px;
        color: #d4d9b8;
        }
    
    #Logo h1::after{content: url("../img/Logo/fire.png"); }
    
    #Logo img{
        width: 35%;
        height: 5%;
        margin-top: 15px;
        }

    /*Menu navigazione*/
    label{
        display:flex;
        flex-direction:column;
        flex-wrap: wrap-reverse;
        width:100%;
        cursor:pointer;
        }
       
    label span{
        background: #fff;
        border-radius:10px;
        height:7px;
        margin: 7px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
       
    span:nth-of-type(1){width: 35px;;}
    span:nth-of-type(2){width: 70px;;}    
    span:nth-of-type(3){width: 53px;;}
    input[type="checkbox"]{display:none;}
    input[type="checkbox"]:checked ~ span:nth-of-type(1){
        transform-origin:bottom;
        transform:rotatez(-45deg) translate(-8px,0px)
        }
          
    input[type="checkbox"]:checked ~ span:nth-of-type(2){ 
        transform-origin:top;
        transform:rotatez(45deg)
        }
       
    input[type="checkbox"]:checked ~ span:nth-of-type(3){ 
        transform-origin:bottom;
        width: 35px;
        transform: translate(-30px,-11px) rotatez(-45deg);
        }
    
    /*Menu tendina*/
    #upMenu{
        z-index: 4;
        display: none;
        float: none;
        margin: 0;
        }

    #Menu{float: none;}
    input[type="checkbox"]:checked ~ #upMenu{
        display: block;
        }
    #Menu ul li{
        position: relative;
        float: none;
        margin-top: 0;
        width: 100%;
        height: 180px;
        line-height: 180px;
        width: auto;
        background-color: #d4d9b8;;
        border-top:#a9b187 solid 1.5px;
        border-bottom:#a9b187 solid 1.5px ;
        border-right:#a9b187 solid 3px;
        border-left:#a9b187 solid 3px;
        }
    
    #Menu ul li a{
        background-color: #d4d9b8; 
        color: black;
        font-size: 350%;
        }
    
    #Menu ul li:hover a{
        border: none; 
        margin-left: 0px;       
        }
    
    /*Banner*/
    #Banner{
        height: 1200px;
        }
    
    #Banner div{text-align: center;}

    #Banner div h1{
        font-size: 1000%;
        margin-top: 190px;
        margin-left: 0;
        }
    
    #Banner div p{
        color: #d4d9b8;
        font-size: 400%;
        margin-left: 0;
        }

    /*Body*/
    #Body{
        padding-top: 80px;
        padding-bottom: 180px;
        }

    #SubDiv div{
        width: 100%;
        float: none;
        margin-bottom: 120px;
        }
    
    #SubDiv div div {
        width: 90%;
        height: 600px;
        margin-top: 0;
        }
    
    #SubDiv div div img{
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        height: 100%;
        }

    #SubDiv div div div{
        height: 20%;
        top: -24%;
        }
    
    #SubDiv div div div{
        text-align: center;
        font-size: 240%;
        }
    
    /*Footer*/
    #Gunter{
        width: 100%;
        float: none;
        text-align: center;
        }   

    #Gunter img{
        width: 50%;
        }

    /*menu navigazione*/
    .footers{
        float: none;
        }

    .footers ul{
        text-align: initial;
        }

    .footers ul li{
        float: none;
        }

    .footers ul li a{
        font-size: 350%;
        }

    /*Paragrafo copyright*/
    #fine p{
        font-size: 250%;
        }
        
    /*Contatti*/
    .inbody_cont{
        width: 100%;
        text-align: center;
        }

    .inbody_cont a img{
        width: 100%;
        height: 1020px;
        }

    .inbody_cont h1{
        font-size: 550%;
        text-align: center;
        }
        
    .inbody_cont p{
        float: none;
        text-align: revert;
        padding: 90px;
        font-size: 250%;
        }

    /*Posizione*/
    .inbody_pos{
        width: 100%;
        text-align: center;
        }

    .inbody_pos a img{
        width: 100%;
        height: 1020px;
        }
    
    .inbody_pos p{
        float: none;
        padding: 0;
        font-size: 400%;
        }



    .middle{margin: 0;}

    }

